<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aanwezigheidsapp{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="https://cdn.freebiesupply.com/logos/large/2x/hogeschool-rotterdam-1-logo-png-transparent.png">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    

    {% block style %}{% endblock style %}

    <style>
        * {
            font-family: 'Oxanium', cursive;
        }

        .navbar {
            background-color: #c60031;
        }

        .redColor {
            background-color: #c60031;
        }

        .redColor:hover {
            background-color: #c50031;
        }

        .whiteColor {
            background-color: white;
        }

        .textWhite {
            color: white;
        }

        .nav-item, .nav-item {
            color: white !important;
        }

        .changeColor {
            color: white !important;
        }

        #userDatas:hover {
            cursor: pointer;
        }

        .card-container {
            position: relative;
        }
        
        .user-details-card {
            position: absolute;
            top: -30px;
            left: 20px;
            background-color: #f0f0f0;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 14px;
            z-index: 100;
        }
        
        .user-details-card img {
            display: block;
            margin: 0 auto 10px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
        
        .user-details-card ul {
            list-style-type: none;
            padding: 0;
        }
        
        .user-details-card ul li {
            margin-bottom: 10px;
        }
        
        .user-details-card ul li b {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="https://cdn.freebiesupply.com/logos/large/2x/hogeschool-rotterdam-1-logo-png-transparent.png" alt="Bootstrap" width="70" height="70">
            </a>
            {% if user.is_authenticated %}
                <i class="fas fa-user fa-2x text-white" id="userDatas"></i>
            {% endif %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            {% if user.username.isdigit %}
                                <li class="nav-item changeColor active">
                                    <a class="nav-link changeColor" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item changeColor">
                                    <a class="nav-link changeColor" href="{% url 'attendanceList' %}">Alle bijeenkomsten</a>
                                </li>
                                <li class="nav-item changeColor">
                                    <a class="nav-link changeColor" href="{% url 'student_agenda' %}">Agenda</a>
                                </li>
                               <li class="nav-item changeColor">
                                    <a class="nav-link changeColor" href="{% url 'logout' %}">Uitloggen</a>
                                </li>
                            {% elif "@" in user.username %}
                                <li class="nav-item changeColor active">
                                    <a class="nav-link changeColor" href="{% url 'home' %}">Home</a>
                                </li>
                                <div class="dropdown">
                                    <li class="nav-item changeColor">
                                        <a class="nav-link changeColor btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Bijeenkomsten</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{% url 'attendanceList' %}">Alle bijeenkomsten</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{% url 'createAttendanceList' %}">Bijeenkomsten toevoegen</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                                <div class="dropdown">
                                <li class="nav-item changeColor">
                                    <a class="nav-link changeColor btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Studenten</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'student_db' %}">Alle studenten</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'newstudent' %}">Student toevoegen</a>
                                        </li>
                                    </ul>
                                </li>
                                </div>
                                <li class="nav-item">
                                    <a class="nav-link changeColor" href="{% url 'teacher_agenda' %}">Agenda</a>
                                </li>
                                <li class="nav-item changeColor">
                                    <a class="nav-link changeColor" href="{% url 'logout' %}">Uitloggen</a>
                                </li>
                            {% else %}
                                <li class="nav-item changeColor active">
                                    <a class="nav-link changeColor" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item changeColor">
                                    <a class="nav-link changeColor" href="{% url 'newteacher' %}">Docent toevoegen</a>
                                </li>
                                <div class="dropdown">
                                    <li class="nav-item changeColor">
                                        <a class="nav-link changeColor btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Bijeenkomsten</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{% url 'attendanceList' %}">Alle bijeenkomsten</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{% url 'createAttendanceList' %}">Bijeenkomsten toevoegen</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                                <div class="dropdown">
                                    <li class="nav-item changeColor">
                                        <a class="nav-link changeColor btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Studenten</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{% url 'student_db' %}">Alle studenten</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{% url 'newstudent' %}">Student toevoegen</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                                <li class="nav-item changeColor">
                                    <a class="nav-link changeColor" href="{% url 'logout' %}">Uitloggen</a>
                                </li>
                            {% endif %}
                        {% else %}
                    <li class="nav-item changeColor">
                        <a class="nav-link changeColor" href="{% url 'login' %}">Inloggen</a>
                    </li>
                        {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <div id="user-details" style="display:none;">
        <div class="card-container">
            <div class="user-details-card">
                <img src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" alt="Avatar">
                <!-- Replace with your avatar image or placeholder -->
                <ul>
                    <li>ID: <b>{{ user.id }}</b></li>
                    <li>Username: <b>{{ user.username }}</b></li>
                    <li>Email: <b>{{ user.email }}</b></li>
                </ul>
            </div>
        </div>
    </div>

{% block content %} 
    <!-- Here comes the content from the other pages -->
{% endblock content %}

<script>
    const userData = document.querySelector('#userDatas');
    
    userData.addEventListener('click', function() {
        showUserDetails()
    });
    
    function showUserDetails() {
        var details = document.getElementById("user-details");
        
        if (details.style.display === "none") {
            details.style.display = "block";
        } else {
            details.style.display = "none";
        }
    }          
</script>
</body>
</html>